# Groq API Key (required) # free just create a/c on groq api.com
GROQ_API_KEY=your-groq-api-key-here

# if you used openai then
OPENAI_API_KEY = 

# LangSmith (optional, for tracing) # get api key from langsmit.com (its free)
LANGSMITH_API_KEY=your-langsmith-key
LANGSMITH_PROJECT=webvory-retail-agent
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

